<h1>Edit Song</h1>

<% if @song.errors.any? %>
  <div class="error_messages">
    Cannot be saved because:<br>
    <% @song.errors.full_messages.each do |full_message| %>
      <%= full_message %><br>
    <% end %>
  </div>
<% end %>

<div class="myform">
	<form method="POST" action="/songs/<%= @song.id %>">
	<input type="hidden" name="_method" value="PUT">
	<%= erb :song_form %>
	</form>
</div>
