<p>Here is a list of songs by the great Nancy Sinatra.</p>
<a href="/songs/new"> Create a new song</a>
<br>
<br>
  <%if @songs.any? %>
    <ul>
      <% @songs.each do |result| %>
        <li><b><a href="/songs/<%= result.id %>" title="show song"><%= result.title %></a></b></li>
        <li><%= "Release Date:  #{result.released_on}" %></li>
        <li><%= "Length: #{result.length/60} minutes #{result.length%60} seconds" %></li>
        <br>
      <% end %>
    </ul>
  <% else %>
      <p> No songs have been created yet!
  <% end %>